@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --font-young: 'Young Serif', serif;
  /* Fallback to serif */
  --font-albert: 'Albert Sans', sans-serif;
  /* Fallback to sans-serif */
}

@media (min-width: 640px) {
  .cont {
    width: 95%;
    margin-inline: auto;
  }
}